<div>
    <div class="subscription">
        <div class="subscription__text">
            <h2 class="subscription__title">Subscribe our Newsletter</h2>
            <p class="subscription__subtitle"> Stay up to date with our latest news and properties </p>
        </div>
        <form class="subscription__form" action="">
            <mat-form-field class="mat-form-field" appearance="outline">
                <input matInput placeholder="Your email adress...">
            </mat-form-field>
            <button class="subscription__button" mat-flat-button>
                Subscribe
            </button>
        </form>
    </div>
    <div class="info">
        <div class="info__column">
            <h2 class="info__heading">About</h2>
            <a mat-button>Contacts</a>
            <a mat-button>Press Release</a>
            <a mat-button>Cancellation</a>
        </div>
        <div class="info__column">
            <h2 class="info__heading">Comunity</h2>
            <a mat-button>Xplore Local</a>
            <a mat-button>Blog</a>
        </div>
        <div class="info__column">
            <h2 class="info__heading">Guides</h2>
            <a mat-button>Become a Guide</a>
            <a mat-button>FAQ & Support</a>
        </div>
        <div class="info__column">
            <h2 class="info__heading">Terms</h2>
            <a mat-button>Legal</a>
            <a mat-button>Privacy</a>
        </div>
    </div>
    <div class="sub-footer">
        <p class="sub-footer__text">Copyright © 2021 All Rights Reserved</p>
        <p class="sub-footer__text"> Designed & Developed by <a href="#" mat-button >Xplorewilderness</a></p>
    </div>
</div>

