/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
a {
    text-decoration: none;
    color: inherit;
}

.mat-drawer-inner-container {
    overflow: hidden !important;
}
.mat-form-field-wrapper{
    margin: 0 !important;
}